<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Valorant</title>
    <!-- CSS only -->
    <link href="/css/valorant.css" rel="stylesheet" type="text/css">
    <link
      href="https://fonts.googleapis.com/css2?family=Abel&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/png" href="/images/valorant.png" />
    <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 mid" style="padding-top: 25px; margin-top: 10px">
          <a href="https://bvpcsi.com"
            ><img
              class="logo-icon"
              src="/images/logo.png"
              style="
                width: 180px;
                height: 100px;
                padding-bottom: 0px;
                border-bottom-width: 50px;
                padding-top: 0px;
                border-right-width: 20px;
              "
            />
          </a>
          <a href="https://bvpcsi.com/glitch.html">
            <img
              class="logo-icon"
              src="/images/glitch LOGO WHITE.png"
              style="
                width: 150px;
                height: 150px;
                padding-bottom: 0px;
                border-bottom-width: 10px;
                padding-top: 0px;
                border-right-width: 10px;
              "
            />
          </a>
          <h2 style="font-family: 'Trade Winds', cursive; padding-top: 50px">
            BVPCSI <span style="color: crimson">x</span> GLITCH -
            <span style="color: crimson">Valorant</span>
          </h2>
          <p style="font-weight: 50px; line-height: 25px">
            Frags, Ace, spike-planted, do these words sound familiar? If yes,
            you play Valorant! 💯 Just for you elite gamers, BVPCSI is
            organizing a Valorant Tournament , part of the Gaming Week by
            GLITCH! 💥 Choose your best strategy, choose your favourite agent
            (we like our Entry Fraggers cough cough Raze) and show us how fast
            you can plant your spike and defend too. 💣 Bring your squad or play
            solo, we'll team you up, no worries. Date: Tbd... So, in the Unrated
            game mode, display your prowess and beat other squads to rise to the
            top to win it all! 🤑✨
          </p>
          <a
            href="https://www.google.com/url?q=https://discord.gg/MTxXwxb&sa=D&ust=1599324101385000&usg=AFQjCNHSXiuwm2192GFGOwalHi5aDUAQPw"
            target="-blank"
            >Discord Link to Join the GLITCH Gaming Week Server:</a
          >
        </div>
        <div class="col-md-6 heading" style="padding-top: 25px">
          <h2 style="font-family: 'Trade Winds', cursive" class="text-center">
            Registration Form
          </h2>
          <form method="POST" action="/valorant">
            <div class="form-group">
              <label>Team Leader Name:</label>
              <input id="myname" name="teamleadername" class="form-control" type="text" />
            </div>
            <div class="form-group">
              <label>Email ID:</label>
              <input id="myemail" name="email" class="form-control" type="text" />
            </div>
            <div class="form-group">
              <label>College(full college name):</label>
              <input id="myclg" name="college" class="form-control" type="text" />
            </div>
            <div class="form-group">
              <label>Contact Number:</label>
              <input id="mynum" name="mobileno" class="form-control" type="text" />
            </div>
            <div class="form-group">
              <label>Team Member 1 ID:</label>
              <input id="myleader" name="member1id" class="form-control" type="text" />
            </div>
            <div class="form-group">
              <label> Team Member 2 ID:</label>
              <input id="myleader" name="member2id" class="form-control" type="text" />
            </div>
            <div class="form-group">
              <label>Team Member 3 ID:</label>
              <input id="myleader" name="member3id" class="form-control" type="text" />
            </div>
            <div class="form-group">
              <label>Team Member 4 ID:</label>
              <input id="myleader" name="member4id" class="form-control" type="text" />
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script>
      bootstrapValidate("#myemail", "email:Enter a valid Email address");
      bootstrapValidate("#myname", "required:This field is required");
      bootstrapValidate("#myclg", "required:This field is required");
      bootstrapValidate("#mynum", "max:10:Enter a valid number");
      bootstrapValidate("#myleader", "required:This field is required");
    </script>
  </body>
</html>
