body{
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../images/valorant.png");
    background-size: cover;
}

body::before{
    background-color: rgba(0,0,0,0.75);
}
.container{
    color:white;
    font-family: 'Abel', sans-serif;
}
.heading{
    color:lightgrey;
}

.form-check-label{
    color:black;
}

input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  -webkit-box-shadow: none;
  box-shadow: 2px 2px rgb(173, 170, 170);
  border-radius: 0;
  color:white;
}

input[type="text"]:focus,
select.form-control:focus {
    background:transparent;
  -webkit-box-shadow: none;
  border:2px rgb(103, 224, 103);
  box-shadow: 2px 2px  rgb(108, 216, 108);
  border-bottom: 1px solid lightgreen;
  color:white;
}

.mid{
    margin-top: 13%;
}

@media only screen and (max-width: 480px) {
    body{
    background: url("../images/valorant.png");
    opacity: 80%;
    }
}